.footer {
    padding: 3em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: var(--white-95);
    font-size: medium;
    color: var(--white-46);
}

.footer .info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .info a {
    text-decoration: none;
    color: var(--white-46);
}

.footer .info img {
    width: 2em;
    margin-left: 1em;
}

@media screen and (max-width: 1000px) {
    .footer {
        padding: 1.5em;

        flex-direction: column;
        font-size: small;
    }

    .footer p {
        font-size: smaller;
        order: 1;
    }

    .footer .info {
        width: 100%;
        flex-direction: column;
    }

    .footer .info a {
        margin-bottom: 0.5em;
    }

    .footer .info img {
        margin: 0.5em 1em 0.5em 0;
    }
}
